body {
    width: 2000px;;
}
table, tr, th{
    font-size: 26px;
    border: 5px solid black;
}
td {
    border: 5px solid black;
    font-size: 30px;
}

hr {
    height: 5px;
    color: black;
}

p {
    font-size: 30px;
}